<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.writeo.storywriter.addon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="10" 
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name" 
		android:theme="@style/Theme.Sherlock.Light"	>

        <activity
            android:label="@string/story_app_name"
            android:name="us.writeo.storywriter.StoryWriterActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter >
                <action android:name="us.writeo.storywriter" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<meta-data android:value="us.writeo.common.filepicker.WriteoUSFilePicker" android:name="filePicker" />
		<meta-data android:value="true" android:name="displayDashboardHome" />	
    </application>
	

</manifest>
